<%- include("templates/header", {tituloCabecera: "EJS -Pagina Inicio"}) %>

<body>
    <h1> Prueba 1</h1>
    <h2> <%= titulo %> </h2>
    <!-- <a href="./mascotas.ejs"></a> -->
<%- include("templates/footer.ejs") %>